<div class="container">
  <div class="py-3 text-center">
    <h3>User Registration</h3>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-content-end justify-content-end pb-5">
      <a class="btn btn-primary" [href]="'/addUser'">REGISTER USER</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-12">
      <table class="table" caption="user_table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{getLabelGender(user.gender)}}</td>
            <td>
              <a class="btn btn-outline-primary" [href]="'/addUser?id='+user.id">
                <fa-icon [icon]="faPencil"></fa-icon>
              </a>
              <button type="button" class="btn btn-outline-danger" data-toggle="confirmation" data-placement="right"
                (click)="delete(user.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>