# This file defines a systemd timer to periodically run the system monitoring service.
# It is configured to run every 15 minutes.

[Unit]
Description=Timer for periodic execution of System Monitoring

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target